rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isAuthenticated() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if isAuthenticated() && request.auth.uid == userId;
    }

    match /volunteers/{volunteerId} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && request.auth.uid == volunteerId;
    }

    match /needs/{needId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAuthenticated();
    }
  }
}
